@media only screen and (max-width: 500px) {
    .header .container .row{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
    }
    .btn-group{
        flex-direction: column;
    }

    nav ul li a:hover::before{
        width: 20%;
    }

    .chef .my-child-chef{
        margin-top: 35px;
    }
}

@media screen and (max-width:960px){
    .Gallery .parent-gallery{
    grid-template-columns: repeat(2,1fr) ;
    }
}
    
    @media screen and (max-width:620px){
    .Gallery   .parent-gallery{
        grid-template-columns: repeat(1,1fr) ;
    }
}